* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-headling: 'Staatliches', cursive;
  --ff-textling: 'Palanquin', sans-serif;
  --ff-footer: 'Open Sans', sans-serif;

  --fc-title: #FFFFFF;
  --fc-primary-main:#23053A;
  --fc-secondary-main:#4A4E69;
  
  --bg-primary: #8E9AAF;
  --bg-title: #CBC0D3;
  --bg-secondary: #EFF1FF;
  --bg-span: #FEEAFA;

  font-size: 62.5%;
  --fs-header: 4.0rem;
  --fs-main: 2.0rem;
}

body {
  font-family: var(--ff-textling);

  background: var(--bg-secondary);
}

/*body::before {
  content: '';
  width: 100%;
  height: 27.9rem;
  background: var(--bg-primary);
  position: absolute;
  z-index: -1;

  top: 0;
  left: 0;
}*/

.page {
  margin: 0 auto;
}

header {
  background: var(--bg-primary);
  display: grid;
  place-items: center;
}

.title {
  background:#CBC0D3;
  width: 100%;
  text-align: center;

  padding: 0.8rem 0;
  margin-bottom: 2.9rem;
}

.title h1 {
  font-size: var(--fs-header);
  font-weight: 400;
  color: var(--fc-title);
  text-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;  
}

.title h1, span {
  font-family: var(--ff-headling);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 3.4rem;
}

#logo {
  padding: 2.9rem 0;
  width: 13.7rem;
}

.intro {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.8rem 3.2rem 6rem;
}

.text {
  font-family: var(--ff-textling);
  text-align: center;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--fc-primary-main);
  -webkit-font-smoothing: antialiased;
}

.cards {
  display: grid;
  gap: 3.2rem;
  margin-top: 5rem;
}

.cards .card {
  position: relative;
  height: fit-content;

  animation: downtop 900ms backwards;
}

.cards .card h2 {
  font-weight: 400;
}

.cards .card span {
  font-size: var(--fs-main);
  color: var(--fc-secondary-main);
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background: var(--bg-span);
  border-radius: 2rem;
  width: 11.2rem;
  text-align: center;
  letter-spacing: 0.2rem;

  animation: topdown 1.5s forwards;
}

.cards .card img {
  width: 100%;
  border-radius: 2rem;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media(max-width: 900px) {
  .footer {
    display: none;
  }
}

@media(min-width: 900px) {
  .page {
    display: flex;
  }

  header {
    width: 37.7rem;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-bottom: 3.2rem;
  }

  .title h1 {
    font-size: 4.8rem;
    line-height: 3.4rem;
  }

  .text {
    display: none;
  }

  .intro {
    display: block;
    color: #ffffff;
    font-family: var(--ff-footer);
    font-size: 2.4rem;
    line-height: 2rem;
    width: 28rem;
    height: 26rem;
    text-align: center;
  }

  .cards {
    margin-left: 37.7rem;
    grid-template-areas: 
    'A B'
    'C B'
    'C D'
    'E F';
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }

  .cards .card:nth-child(2) {
    grid-area: B;
  }

  .cards .card:nth-child(3) {
    grid-area: D;
  }
  
  .cards .card:nth-child(4) {
    grid-area: C;
  }

  .cards .card:nth-child(5) {
    grid-area: E;
  }
  
  .cards .card:nth-child(6) {
    grid-area: F;
  }

  footer {
    left: 37.57%;
    right: 21.32%;
    top: 50.51%;
    bottom: 47.3%;
  
    font-family: var(--ff-footer);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
  
    color: #4A4E69;
  
    mix-blend-mode: normal;
    }
  
    footer a {
      text-decoration: none;
      font-weight: bold;
      color: #4A4E69;
    }
}

@media (min-width: 1440px) {

  .title h1 {
    font-size: 4.8rem;
    line-height: 3.4rem;
  }

  .cards {
    grid-template-areas: 
    'A B C'
    'D B E'
    'D F E'
    ;
  }

  .cards .card:nth-child(1) {
    grid-area: A;
  }

  .cards .card:nth-child(2) {
    grid-area: B;
  }

  .cards .card:nth-child(3) {
    grid-area: C;
  }
  
  .cards .card:nth-child(4) {
    grid-area: D;
  }

  .cards .card:nth-child(5) {
    grid-area: F;
  }
  
  .cards .card:nth-child(6) {
    grid-area: E;
  }

  footer {
  font-family: var(--ff-footer);  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-align: center;

  margin: auto 14.7rem 4.6rem 54.1rem;

  color: #4A4E69;
  }

  footer a {
    text-decoration: none;
    font-weight: bold;
    color: #4A4E69;
  }
}